<h1><%= @season.year %></h1>
<p><a href="<%= @season.url %>">Season wikipedia link</a></p>

<% @season.circuits.each do |circuit| %>
  <h3><%= circuit.name %></h3>
    <ul>
    <% circuit.laptimes.where(season: @season).each do |laptime| %>
      <li><%=link_to laptime.driver.first_name, driver_path(laptime.driver)%> <%=link_to laptime.driver.last_name, driver_path(laptime.driver)%> with a time of <%=link_to laptime.laptime, laptime_path(laptime)%></li>
    <% end %>
  </ul>
<% end %>