<div class="ml-4">
  <h1 class="title"><%= @season.year %></h1>
  <p class="subtitle"><a href="<%= @season.url %>">Season wikipedia link</a></p>
  <br>
  <% @season.circuits.each do |circuit| %>
    <h3 class="title is-5"><%= link_to circuit.name, circuit_path(circuit) %></h3>
    <% if @season.year >= 1996 && @season.year < 2020 %>
      <h4 class="subtitle">Lap times:</h4>
    <% end %>
      <table class="table">
      <% circuit.laptimes.where(season: @season).each do |laptime| %>
        <tr>
          <td><%=link_to laptime.driver.first_name, driver_path(laptime.driver)%></td>
          <td><%=link_to laptime.driver.last_name, driver_path(laptime.driver)%></td>
          <td><%=link_to laptime.laptime, laptime_path(laptime)%></td>
        </tr>
      <% end %>
    </table>
    <br>
  <% end %>
</div>