<h1><%= @circuit.name %></h1>
<h3><%= @circuit.country %></h3>
<h3><%= @circuit.locality %></h3>

<h3>Seasons:</h3>
<ul>
  <% @circuit.seasons.each do |season| %>
    <li><%= season.year %></li>
  <% end %>
</ul>

<h3>Laptimes</h3>
<ul>
  <% if @circuit.laptimes.count == 0 %>
    <li>No results for circuits used before '96.</li>
  <% else %>
    <% @circuit.laptimes.each do |laptime| %>
      <li><%=link_to laptime.driver.first_name, driver_path(laptime.driver)%> <%=link_to laptime.driver.last_name, driver_path(laptime.driver)%> set a time of <%=link_to laptime.laptime, laptime_path(laptime)%> in <%=link_to laptime.season.year, season_path(laptime.season)%></li>
    <% end %>
  <% end %>
</ul>