<div class="ml-4 mr-4">
  <h1 class="title"><%= @circuit.name %></h1>
  <p class="has-text-weight-bold"><%= @circuit.country %></p>
  <p class="has-text-weight-bold"><%= @circuit.locality %></p>
  <br>

  <h3 class="title is-6">Seasons:</h3>
  <ul id="seasons-ul">
    <% @circuit.seasons.each do |season| %>
      <li><%= link_to season.year, season_path(season) %></li>
    <% end %>
  </ul>
  <br>
  <br>
  <br>
  <h3 class="title is-6">Laptimes</h3>
  <% if @circuit.laptimes.count == 0 %>
    <p>No results for circuits used before '96.</p>
  <% else %>
    <table class="table">
    <% @circuit.laptimes.each do |laptime| %>
      <tr>
        <td><%=link_to laptime.driver.first_name, driver_path(laptime.driver)%></td>
        <td><%=link_to laptime.driver.last_name, driver_path(laptime.driver)%></td>
        <td><%=link_to laptime.laptime, laptime_path(laptime)%></td>
        <td><%=link_to laptime.season.year, season_path(laptime.season)%></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>