<h1>Drivers#index</h1>
<p>Find me in app/views/drivers/index.html.erb</p>

<%= render 'layouts/search' %>

<table>
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to driver.first_name, driver_path(driver) %></td>
      <td><%= link_to driver.last_name, driver_path(driver) %></td>
      <td><%= driver.dob %></td>
      <td><%= driver.nationality %></td>
    </tr>
  <% end %>
</table>
