<div class="ml-4">
  <h1 class="title">Drivers</h1>

  <%= render 'layouts/search' %>

  <table class="table">
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to driver.first_name, driver_path(driver) %></td>
        <td><%= link_to driver.last_name, driver_path(driver) %></td>
        <td><%= driver.dob %></td>
        <td><%= driver.nationality %></td>
      </tr>
    <% end %>
  </table>
</div>