<!DOCTYPE html>
<html>
  <head>
    <title>Racestandings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>F1 Race Standings</h1>
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Seasons", "/seasons/index" %></li>
    <li><%= link_to "Circuits", "/circuits/index" %></li>
    <li><%= link_to "Laptimes", "/laptimes/index" %></li>
    <li><%= link_to "Drivers", "/drivers/index" %></li>
    <li><%= link_to "About Page", "/home/about" %></li>
  </ul>
    <%= yield %>

  </body>
</html>
